<div class="container" id="sessionwrapper">
  <div class="row">
    <div class="col-md">
      {{{session}}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <br>
      {{{addclub}}}
      <br><br><br>
      <div>
        {{{clublist}}}
      </div>
      <div id="user-club-list"></div>
    </div>
    <div class="col-10">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">
            <h3>Browse Clubs</h3>
          </h5>
          <div id="club-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script type="text/javascript" src="/js/clubs.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
