<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Looking for a fun way to enjoy books and meet new people? </h2>
        <p>Start a book club! We believe book clubs enhance the reading experience</p>
        <p>Discussing books with friends, family, neighbors, colleagues, and/or acquaintances can help keep you reading, provide new perspectives on life and literature, and lead to the creation of special bond</p>
      </div>
      <div class="col-sm-6">
        <img src="images/books.jpg" alt="" width="500" height="500">
      </div>
    </div>
    <br><br>
  <div class="row">
      <!-- Search form -->
      <div class="col-md 8">
      <form class="form-inline ">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-md ml-8 w-100" type="text" placeholder="Search Clubs eg.. Titles, Genres, Authors, "
          aria-label="Search">
      </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Popular Clubs</h3>
        <div>
          
          {{#each clubs}}
            <div class="row">
              <a href="/{{this.clubname}}">{{this.clubname}}</a>
            </div>
          {{/each}}
        </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Recently Published Clubs</h3>
    </div>
  </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/index.js"></script> --}}