<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>This is the Book Club App Home Page!</h1>
        <h2>Welcome to our app</h2>
        <p>Lorum Ipsum</p>
        <br><br>
        <br><br>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>