<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">

                    <div class="login-form">
                        <p>{{msg}}</p>
                        <h3>Login Form</h3>
                        <form action="login" method="POST">
                            <input type="text" name="username" id="login-username" placeholder="Username" required>
                            <input type="password" name="password" id="login-password" placeholder="Password" required>
                            <input type="submit">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>