<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                            <label for="newuser-username">Username</label>
                            <input type="text" id="newuser-username" class="form-control"
                                aria-describedby="newuser-username" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="newuser-password">password</label>
                            <input type="text" id="newuser-password" class="form-control"
                                aria-describedby="newuser-password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="newuser-email">email</label>
                            <input type="text" id="newuser-email" class="form-control"
                                aria-describedby="newuser-email" placeholder="Enter email">
                        </div>
                        <button id="submit" class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>