<div class="featured-boos-container">
    <div class="feattured-boks-content">
        <div class="banner-container fixed-banner featured-books-banner">
            <div class="slider-item">
                <img class="image" src="images/books.jpg" alt="books">
            </div>  
            <div class="intro">
                <h2 class="banner-title">Bood </h2>
            </div>
        </div>
        
    </div>
</div>

<style>
    .featured-books-banner{
        min-height: 250px;
        max-height: 385px;
    }
    .banner-container{
        position: relative;
    }
    .fixed-banner .image{
        opacity: .7;
        width: 100%;
        height: 310px;
    }
    .banner-container .intro{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }
    .fixed-banner .intro .banner-title {
    font-size: 2.8125rem;
    font-weight: 500;
    line-height: 3.9375rem;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    }

    .wrap-content-top-book {
    float: left;
    width: calc(100% - 360px);
    padding-right: 30px;
    border-right: 1px solid #ececeb;
    }

    .featured-books-container .featured-books-title {
    font-size: 25px;
    font-size: 1.5625rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 40px;
    }

    ol, ul{
        list-style: none;
    }
    
    .featured-books-container .book-list-content .list .item {
    display: table;
    padding: 30px 45px;
    width: 100%;
    }


</style>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script  src="js/topbooks.js"></script>
<script>
     <script>
      // Load and register pre-caching Service Worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('service-worker.js', {
            scope: '/',
          });
        });
      }
      // Redux assumes `process.env.NODE_ENV` exists in the ES module build.
      // https://github.com/reactjs/redux/issues/2907
      window.process = { env: { NODE_ENV: 'production' } };
      // Subset of fetch polyfill for IE11 (supports GET requests for JSON only).
      window.fetch = window.fetch || function(url) {
        return new Promise(function(resolve, reject) {
          var xhr = new XMLHttpRequest();
          xhr.onload = function() {
            resolve({
              json: function() {
                return Promise.resolve(JSON.parse(xhr.responseText));
              }
            });
          };
          xhr.open('GET', url);
          xhr.send();
        })
      }
    </script>

    <!-- Add any global styles for body, document, etc. -->
    <style>
      body {
        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        min-height: 100vh;
        background-color: #fafafa;
        -webkit-font-smoothing: antialiased;
      }
      book-app[unresolved] {
        display: block;
        min-height: 101vh;
        line-height: 66px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 0 16px;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <book-app appTitle="BOOKS" unresolved>BOOKS</book-app>
    <noscript>
      Please enable JavaScript to view this website.
    </noscript>
    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <!-- Built with love using PWA Starter Kit -->
    <script type="module" src="src/components/book-app.js"></script>
</script>

